#fixedleft {
    right:0 !important;
    left:auto;
    margin-top: 15%;
}
.quicksand {
    color: #dee2e6 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.quicksandblack {
    color: black !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.quicksand12 {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.quicksandlight {
    color: #e9ecef;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.handJetHeader {
    font-family: 'Handjet', cursive;
    font-weight: 400;
    font-size: 140px;
    margin-bottom: 0;
}
.handJetSubtitle {
    font-family: 'Handjet', cursive;
    font-weight: 300;
    font-size: 35px;
}
.mainPageStandard {
    height: 75vh;
    display: flex;
    background-color: #f8f9fa;
}
.mainPageBlack {
    height: 60vh;
    display: flex;
    background-color: #212529; 
    z-index: 10;

}
.mainPageEnd {
    height: 10vh;
    display: flex;
    background-color: #212529;
}
.navbarColor {
    background-color: #212529; 
}
#microsoftLogo {
    position: relative;
    height: 50px;
    width: 50px;
    top: 25%;
    left: 25%;    
}

.emptyCircleM {
    background-color: white;
    position: absolute;
    top: 60px;
    left:100px;
    height: 100px;
    width: 100px;
    border-radius: 50% ;
    border: 0.5px solid #e9ecef;
}

#amazonLogo {
    position: relative;
    height: 150px;
    width: 150px;
    top: 12.5%;
    left: 12.5%;   
}

.emptyCircleA {
    background-color: white;
    position: absolute;
    top: 50px;
    left:900px;
    height: 200px;
    width: 200px;
    border-radius: 50% ;
    border: 0.5px solid #e9ecef;
}

#googleLogo {
    position: relative;
    height: 225px;
    width: 225px;
    top: 12.5%;
    left: 12.5%;
}

.emptyCircleG {
    background-color: white;
    position: absolute;
    top: 300px;
    left:800px;
    height: 300px;
    width: 300px;
    border-radius: 50% ;
    border: 0.5px solid #e9ecef;
}
#teslaLogo {
    position: relative;
    height: 75px;
    width: 75px;
    top: 25%;
    left: 25%;
    
}

.emptyCircleT {
    background-color: white;
    position: absolute;
    top: 250px;
    left:50px;
    height: 150px;
    width: 150px;
    border-radius: 50% ;
    border: 0.5px solid #e9ecef;
}
#profileImage {
    height:112.5%;
    width:112.5%;
    padding: 5px;
    padding-top: 2px;
}
.answerBox {
    border: 0.5px solid #85919b;
    border-radius: 5px;
    margin: 0vh 10vh 4vh 5vh;
    height: 50vh;
    text-align: center;
    padding:15% 5% 15%;

}
.border {
    border:1px solid black
}
.buttonUnanswered {
    background-color: #dee2e6;
    width: 200px;
}
.buttonCorrect {
    background-color: #c1d7ae;
    width: 200px;
    color: #b6b8ba;
}
.buttonWrong {
    background-color: #d7aeae;
    width: 200px;
    color: #96989b;

}

#cardOne {
    margin-right: 5px;
}
.newsBox {
    height: 70vh;
    padding-top: 4%;
}
.userInfo {
    border: 0.5px solid #85919b;
    border-radius: 5px;
    margin: 4vh 10vh 2vh 5vh;
    height: 15vh;
    text-align: center;
    padding:6%

}
.max-height {
    max-height: 350px;
    overflow-y: scroll;
}

.nextButton {
    background-color: #dee2e6;
    width: 30%;
}