{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- <div class="mainPage container-fluid">
    <div class="textMainPage"><h1 >Hello, world</h1>
    </div>
    <div>    <img src="../static/newspaper.jpg" alt="Newspaper" class="img-fluid" id="newspaperMainPage">
    </div>
</div> -->
<section class="mainPage1">
    <div id="textMainPage1" class="d-flex justify-content-center align-self-center">
        <h5 class="quicksandbig">Something something SOMething something</h5><br>
        <h6 class="quicksandlight">something</h6>
    </div>
    
    <div id="newspaperMainPage1">
        <img src="../static/newspaper4.jpg" alt="Newspaper" class="img-fluid" id="imgs">
    </div>
</section>
<section class="mainPage2" id="stockChart">

</section>
<section class="mainPage1">
    <h2>Hi below</h2>
    <h2>Hi Above</h2>
</section>
{% endblock %}